# my.cnf
[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

# Replication settings for master
server-id=1
log-bin=mysql-bin
binlog_format=ROW
binlog_do_db=energia
sync_binlog=1
expire_logs_days=7

# Performance settings
innodb_flush_log_at_trx_commit=1
innodb_buffer_pool_size=256M
max_allowed_packet=64M
